<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--interface-->
		<add key="Site" value="false"/>
		<add key="SiteTitle" value="DanDanTang"/>
		<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginKey_a" value="aaaa-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
    <add key="LoginUrl" value="http://localhost:3000/req/CreateLogin.aspx"/>
    <add key="LoginOnUrl" value="http://localhost:3000/index.htm?open=self"/>
    <add key="FlashUrl" value="http://localhost:3000/playgame.aspx"/>
    <add key="FlashConfig" value="http://localhost:3000/config.xml"/>
    <add key="FlashSite" value="http://localhost:3000/flash03/"/>
		<add key="Edition" value="21000"/>
		<add key="Money" value="0"/>
		<add key="Gold" value="0"/>
		<add key="GiftToken" value="0"/>
    <add key="ActiveIP" value="localhost"/>
    <add key="content2" value="0"/>
    <add key="countDb" value="Data Source=VANLOC\SQLEXPRESS;Initial Catalog=Db_Count;Persist Security Info=True;User ID=sa;Password=R4nd0m$tr1ng" />
    <add key="conString" value="Data Source=VANLOC\SQLEXPRESS;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=R4nd0m$tr1ng" />
    <add key="membershipDb" value="Data Source=VANLOC\SQLEXPRESS;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=R4nd0m$tr1ng" />
  </appSettings>
	<connectionStrings>
		<add name="Db_TankConnectionString" connectionString="Data Source=VANLOC\SQLEXPRESS;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=R4nd0m$tr1ng" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<sessionState timeout="5"/>
		<!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off" defaultRedirect="Error.htm">
			<error statusCode="403" redirect="AccessError.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
